<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Principal</a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/producto/agregar-producto' ? 'active' : '' %>" href="/producto/agregar-producto">Agregar Producto
                    </a>
                </li>
                <li class="main-header__item">
                    <a class="<%= path === '/producto/productos' ? 'active' : '' %>" href="/producto/productos">Administrar Productos
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <nav class="mobile-nav">
            <ul class="mobile-nav__item-list">
                    
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/producto/agregar-producto' ? 'active' : '' %>" href="/producto/agregar-producto">Agregar Producto
                        </a>
                    </li>
                    <li class="mobile-nav__item">
                        <a class="<%= path === '/producto/productos' ? 'active' : '' %>" href="/producto/productos">Administrar Productos
                        </a>
                    </li>
                </ul>
    </nav>
    <main>
        <form class="product-form" action="/producto/<% if (editing) { %>editar-producto<% } else { %>agregar-producto<% } %>" method="POST">
            <div class="form-control">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" value="<% if (editing) { %><%= producto.nombre %><% } %>">
            </div>
            <div class="form-control">
                <label for="precio">Precio</label>
                <input type="number" name="precio" id="precio" step="0.01" value="<% if (editing) { %><%= producto.precio %><% } %>">
            </div>
            <div class="form-control">
                <label for="descripcion">Descripcion</label>
                <textarea name="descripcion" id="descripcion" rows="5"><% if (editing) { %><%= producto.descripcion %><% } %></textarea>
            </div>
            <% if (editing) { %>
                <input type="hidden" value="<%= producto._id %>" name="productoId">
            <% } %>

            <button class="btn" type="submit"><% if (editing) { %>Actualizar producto<% } else { %>Agregar producto<% } %></button>
        </form>
    </main>
<script src="/js/main.js"></script>
    </body>

</html>